<html>
  <head></head>
  <body>
    <h1>
    ERROR
    </h1>
    <p>400 Error: Invalid parameters</p>
    <p>Instructions:</p>
    <p>
    	Data shall be considered valid if both the true and false symbols are single characters and are distinct from each other (i.e., they shall not be the same character), and that the size is an integer with a value of 2 or greater.
	<p>	
    <a href="/">Back to main</a>
  </body>
</html>
